


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Montserrat Alternates', sans-serif;
    color: #333;
    background: #F8F9FA;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.taskbar {
    width: 100%;
    background: #1f4c76; 
    color: white;
    padding: 3px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}


.logo-section {
    display: flex;
    align-items: center;
}

.company_logo {
    width: 50px; 
    margin-right: 3px; 
}

.company_name_link {
    text-decoration: none;
}

.company_name {
    font-family: "Vast Shadow", serif;
    font-size: 24px;
    color: black;
    font-weight: 600;
    margin: 0;
    transition: color 0.3s;
}

.company_name:hover {
    color: #fddc01;
}


.items {
    display: flex;
    gap: 15px; /* Ensures spacing between items */
    align-items: center;
}

.items input[type="text"] {
    padding: 8px 10px;  /* Adds padding around the input */
    border: none;
    border-radius: 4px;  /* Optional: rounds the corners */
    font-size: 16px;
    margin-top: 3px;
    margin-right: 16px;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s;
}

.items input[type="text"]:focus {
    background-color: #f1f1f1; /* Slight change in background color when focused */
    outline: none;
}


.items a, .dropbtn {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.5;
    padding: 8px 12px; 
    transition: color 0.3s;
}

.items a:hover {
    color: black;
}

.dropbtn {
    all: unset; 
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 8px 12px;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #f1f1f1;
    min-width: 100px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    top: 100%;
    overflow: visible;
}

.assets-box, .market-box {
    overflow: visible; /* Prevent clipping */
    position: relative; /* Establish stacking context */
}

.dropdown-content a {
    color: #1f4c76;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition: background 0.3s;
}

.dropdown-content a:hover {
    background: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:last-child {
    margin-right: 20px;
}
