{% extends "admin_base.html" %}

{% block logo_url %}/admin_mainmenu{% endblock %} 
{% block cname_url %}/admin_mainmenu{% endblock %} 
{% block title %}Wallet Transactions | CryptoKoin{% endblock %}

{% block content %}


{% if msg %}
<div id="trade-msg" class="{{ msg_type }}">
    {{ msg }}
</div>
{% endif %}

<div class="market-container">
    <h1 class="market-title">Wallet Transaction Analytics</h1>
    <table class="crypto-table">
        <thead>
            <tr>
                <th>Username</th>
                <th>Action</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.transaction_type }}</td>
                <td>${{ user.Amount | round(2) }}</td>
                <td>{{ user.transaction_timestamp }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<style>
    .market-container {
        margin: 20px;
    }
    .market-title {
        text-align: center;
        font-family: 'Electrolize', sans-serif;
        margin-top: 100px
    }
    .crypto-table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px auto;
        font-family: 'Electrolize', sans-serif;
    }
    .crypto-table th, .crypto-table td {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }
    .crypto-table th {
        background-color: #f4f4f4;
    }
</style>
{% endblock %}
